<% @contacts.each do |contact| %>
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="<%= contact_url(contact) %>">
        <div class="col-sm-4">
          <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_url("avatar.jpg") %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong><%= "#{contact.first_name} #{contact.last_name}"%> </strong></h3>
          <p><i class="fa fa-map-marker"></i> <%= contact.company %></p>
          <address>
            <strong>Twitter, Inc.</strong><br>
            <%= contact.address_street %><br>
            <%= contact.address_city %>, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
  </div><!--/.info-box-->
</div><!--/.col-->
<% end %>
