<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="<%= contact_url(@contact) %>">
        <div class="col-sm-4">
          <div class="text-center">
            <%= wicked_pdf_image_tag @contact.avatar.url %>
            <div class="m-t-xs font-bold">Graphics designer</div>
          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong><%= "#{@contact.first_name} #{@contact.last_name}"%> </strong></h3>
          <p><i class="fa fa-map-marker"></i> <%= @contact.company %></p>
          <address>
            <strong>Twitter, Inc.</strong><br>
            <%= @contact.address_street %><br>
            <%= @contact.address_city %>, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
    <div class="panel-footer">
      <%= link_to(edit_contact_url(@contact), class: "btn btn-sm btn-primary") do %>
        <i class="fa fa-dot-circle-o"></i> <%= t("contacts.edit") %>
      <% end %>

      <%= link_to(contacts_url, class: "btn btn-sm btn-default") do %>
        <i class="fa fa-ban"></i> <%= t("contacts.cancel") %>
      <% end %>

    </div>
  </div><!--/.info-box-->


</div><!--/.col-->
